body{
    background: url("../img/btn-bg.jpg");
    background-repeat: repeat;
    padding-top: 40px;
}
container{
  margin: 80px auto;
  width: 640px;
  }

h1{
   font-weight: bold;
    color: #000;
    text-align: center;
    background: lightblue;
    border-bottom: 2px solid #cfcfcf;    
}

.Signup {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 500px;
  height: 580px;
  background: lightblue;
  border-style: groove;
  border-width: 10px;
  border-color:  blueviolet;
  border-radius: 3px;
  height: 580px;
  }
  .input{
      width: 100%;
  }
#signin{
    padding-left: 45px;
    font-size: 15px;
    color: white;
}
#signin a{
    color: cadetblue;
    text-decoration: underline;
}
.submit{
    background:url("../img/pattern.jpg");
    border-radius: 7px;
    float: right;
}
.submit:hover {
    background: url("../img/btn-bg.jpg");
    color: white;
}